import androidx.appcompat.app.AppCompatActivity;

import android.os.Bundle;
import android.widget.ArrayAdapter;
import android.widget.ListView;
import android.widget.SeekBar;
import android.widget.TextView;
import android.widget.Toast;

import java.util.ArrayList;

public class MainActivity extends AppCompatActivity {
        ListView listview;
        SeekBar seekbar;
        TextView text;
    @Override
    protected void onCreate(Bundle savedInstanceState) {
        super.onCreate(savedInstanceState);
        setContentView(R.layout.activity_main);
        listview=  findViewById(R.id.listview);
        seekbar= findViewById(R.id.seekbar);
        text= findViewById(R.id.table);

        seekbar.setMax(20);

        seekbar.setOnSeekBarChangeListener(new SeekBar.OnSeekBarChangeListener() {
            @Override
            public void onProgressChanged(SeekBar seekBar, int progress, boolean fromUser) {
                Toast.makeText(MainActivity.this, "Table of "+ progress, Toast.LENGTH_SHORT).show();
                calculate(progress);
            }

            @Override
            public void onStartTrackingTouch(SeekBar seekBar) {

            }

            @Override
            public void onStopTrackingTouch(SeekBar seekBar) {

            }
        });
    }
    public void calculate(int table){
        ArrayList <String> multiple_table= new ArrayList<>();
        for (int i=1;i<=10;i++){
            multiple_table.add(table +"  *  "+i+ "  =  "+ table*i );
        }
        ArrayAdapter <String> array_adapter= new ArrayAdapter<>(MainActivity.this, android.R.layout.simple_list_item_1, multiple_table);
        listview.setAdapter(array_adapter);
    }
}
